/*css reset*/
* {margin: 0;padding: 0;}
*, *::before, *::after{box-sizing: border-box}
a{text-decoration: none; color: inherit}
ul,ol{list-style: none;}
body{font-size: 18px;}
button{font-size: inherit; outline: none}
.clearfix::after{content: '';display: block;clear:both;}
[v-cloak]{
  display: none;
}

@media (min-width: 500px) {

}
/*.app header*/
.app > header{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  padding: 10px 16px;
  color: #007bff;
  background-color: #e3f2fd;
  z-index: 10;
}
.app > header h1{
  font-size: 1.25rem;
  line-height: 36px;
  float: left;
}
.app > header a,
.app > header .loginOut{
  float: right;
  border: 1px solid #007bff;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  background: #e3f2fd;
  color: #007bff;
}
.app > header a:hover
{
  color: white;
  background: #007bff;
}
.app > header .loginOut{
  color: #dc3545;
  border: 1px solid #dc3545;
}
.app > header .loginOut:hover{
  color: white;
  background: #dc3545;
}
.app > header .navButton {
  float: left;
  background: #e3f2fd;
  border-style: none;
  color: #007bff;
  margin-left: 30px;
  font-size: 16px;
  cursor: pointer;
  padding-top: 8px;
  outline: none;
}
.app > header .navButton:hover {
  border-bottom: 1px solid #007bff;
}

/*.app main*/
.app > main{
  margin-top: 56px;
}

/*app > footer*/
.app > footer{
  text-align: center;
  font-size: 12px;
  color: #343a40;
  font-weight: 300;
  background: #f8f9fa;
  padding: 20px 0;
}
.app > footer > .author{
  font-style: italic;
  margin-bottom: 20px;
}
.app > footer > .author > span{
  color: #007bff;
  font-size: 28px;
  font-weight: 700;
  font-style: normal;
}
.app > footer a.link{
  color: #007bff;
}
.app > footer a.link:hover{
  border-bottom: 1px solid #007bff;
}

/*body{*/
  /*overflow: auto;*/
/*}*/