.signIn,
.signUp{
  position: fixed;
  height: 400px;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ddd;
}
.signUp{
  background: green;
}
[v-cloak]{
  display: none;
}