.share{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: yellow;
  height: 300px;
  width: 400px;
  box-shadow: 0 0 0 10000px rgba(0,0,0,0.5);
  padding: 30px;
}
.share textarea{
  height: 4rem;
  resize: none;
  width: 100%;
  /*文字一直填满在断开*/
  word-break: break-all;
}